@{Layout = null;}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educa</title>
    <link rel="stylesheet" href="~/css/Leccion7Pag1Style.css">
    <link rel="shortcut icon" href="~/Images/Home/LogoIconEduca.png">
</head>
<body>
    <div class="content" id="content">
        <div id="title" class="title">
            <div class="animation">Animales</div>
                   
        </div>
        <div id="success-box">
            <div class="box">
                <div class="head"></div>
                <div class="head-copy">
                  <div class="face-left"></div>
                  <div class="face-right"></div>
                  <div class="face">
                    <div class="eyes">
                      <div class="pupil"></div>
                    </div>
                    <div class="eyes left">
                      <div class="pupil"></div>
                    </div>
                    <div class="blush"></div>
                    <div class="blush-right"></div>
                    <div class="nose">
                      <div class="line"></div>
                    </div>
                    <div class="mouth"></div>
                    <div class="mouth2"></div>
                  </div>
                  <div class="face-left"></div>
                  <div class="face-right"></div>
                  <div class="ears-left">
                    <div class="inner-ear"></div>
                  </div>
                  <div class="ears-right">
                    <div class="inner-ear right"></div>
                  </div>
                </div>
              </div>
            <div class="message"><h1 class="alert">Bienvenido!</h1><p>Vamos por tu septima lección.</div>
            <button class="button-box" onclick="Inicio()"><h1 class="green">Empezar</h1></button>
        </div>
        <div id="container" class="container">
            <div id="container-1" class="container-1">
                <div class="text-Cont">
                    <div class="plan">
                        <div class="inner">
                            <span class="pricing">
                                <span>
                                    a &#128214; f
                                </span>
                            </span>
                            <p class="title2">Introducción:</p>
                            <p class="info">Son seres vivos muy importantes.
                                Existe una gran diversidad.
                                Algunos son grandes y otros son pequeños.
                                Pueden tener el cuerpo cubierto con pelo, con plumas o con escamas.
                                Se pueden mover de muchas formas.
                                Algunos corren, otros saltan, hay de los que vuelan.
                                También existen los que nadan y otros más se arrastran. <br>A continuación veremos:</p>
                            <ul class="features">
                                <li>
                                    <span class="icon">
                                        <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 0h24v24H0z" fill="none"></path>
                                            <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                                        </svg>
                                    </span>
                                    <span>Ovíparos</span>
                                </li>
                                <li>
                                    <span class="icon">
                                        <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 0h24v24H0z" fill="none"></path>
                                            <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                                        </svg>
                                    </span>
                                    <span>Vivíparos</span>
                                </li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
                <div class="img-Cont">
                    <img src="~/Images/Leccion/Leccion7/Pag1/Img1M.png" width="450" height="450" alt="">
                </div>
            </div>
        </div>
    </div>
    <center><button id="end" type="button" onclick="Next()" class="btn cube cube-hover">
        <div class="bg-top">
        <div class="bg-inner"></div>
        </div>
        <div class="bg-right">
        <div class="bg-inner"></div>
        </div>
        <div class="bg_i">
        <div class="bg-inner"></div>
        </div>
        <div class="text">Continuar</div>
      </button></center>
    <footer>
        <center><p>Hecho con &#128147; por Alumnos de UPN &#9996;</p></center>
    </footer>
    <script src="~/js/Leccion7Pag1Script.js"></script>
</body>
</html>