@{Layout = null;}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educa</title>
    <link rel="stylesheet" href="~/css/Leccion7Pag5Style.css">
    <link rel="shortcut icon" href="~/Images/Home/LogoIconEduca.png">
</head>
<body>
    <div class="content" id="content">
        <div id="title" class="title">
            <div class="animation">¿Cómo están cubiertos los animales?</div>   
        </div>
        <div id="success-box">
            <div class="dot"></div>
            <div class="dot two"></div>
            <div class="face">
              <div class="eye"></div>
              <div class="eye right2"></div>
              <div class="mouth happy"></div>
            </div>
            <div class="shadow scale"></div>
            <div class="message"><h1 class="alert">Listo ¿?</h1><p>Vamos a aprender.</div>
            <button class="button-box" onclick="Inicio()"><h1 class="green">Empezar</h1></button>
        </div>
        <div id="container" class="container">
            <div id="container-1" class="container-1">
                <div class="container1-1">
                    <article class="article-wrapper">
                        <div class="rounded-lg container-project">
                            <img src="~/Images/Leccion/Leccion7/Pag5/oveja.png" height="200px" width="100%" alt="">
                          </div>
                          <div class="project-info">
                            <div class="flex-pr">
                              <div class="project-title text-nowrap"><center>Lana</center></div>
                                
                                </div>
                                <div class="types">
                                  <span style="background-color: #FEDEFF; color: rgb(0, 0, 0);" class="project-type">• Oveja</span>
                                  <span class="project-type">• Alpaca</span> 
                              </div>
                          </div>
                      </article>
                </div>
                <div class="container1-2">
                    <article class="article-wrapper">
                        <div class="rounded-lg container-project">
                            <img src="~/Images/Leccion/Leccion7/Pag5/mascota.png" height="210px" width="100%" alt="">
                          </div>
                          <div class="project-info">
                            <div class="flex-pr">
                              <div class="project-title text-nowrap">Pelo</div>
                                </div>
                                <div class="types">
                                    <span style="background-color: #CDFCF6; color: rgb(0, 0, 0);" class="project-type">• Perro</span>
                                    <span class="project-type">• Oso</span><span style="background-color: #FEDEFF; color: rgb(0, 0, 0);" class="project-type">• Gato</span>
                              </div>
                          </div>
                      </article>
                </div>
            </div>
            <div id="container-2" class="container-2">
                <div class="container2-1">
                    <article class="article-wrapper">
                        <div class="rounded-lg container-project">
                            <img src="~/Images/Leccion/Leccion7/Pag5/escamas.png" height="170px" width="90%" alt="">
                          </div>
                          <div class="project-info">
                            <div class="flex-pr">
                              <div class="project-title text-nowrap">Escamas</div>
                                
                                </div>
                                <div class="types">
                                    <span style="background-color: #FEDEFF; color: rgb(0, 0, 0);" class="project-type">• Pez</span>
                                    <span class="project-type">• Lagarto</span>
                                    <span style="background-color: #CDFCF6; color: rgb(0, 0, 0);" class="project-type">• Serpiente</span>
                              </div>
                          </div>
                      </article>
                </div>
                <div class="container2-2">
                    <article class="article-wrapper">
                        <div class="rounded-lg container-project">
                            <img src="~/Images/Leccion/Leccion7/Pag5/pluma.png" height="200px" width="100%" alt="">
                          </div>
                          <div class="project-info">
                            <div class="flex-pr">
                              <div class="project-title text-nowrap">Plumas</div>
                                
                                </div>
                                <div class="types">
                                    <span style="background-color: #FEDEFF; color: rgb(0, 0, 0);" class="project-type">• Loro</span>
                                    <span style="background-color: #CDFCF6; color: rgb(0, 0, 0);" class="project-type">• Pato</span>
                                    <span class="project-type">• Águila</span>
                              </div>
                          </div>
                      </article>
                </div>
            </div>
            <div id="container-3" class="container-3">
                <img src="~/Images/Leccion/Leccion7/Pag3/Img1M.png" alt="">
            </div>
        </div>
    </div>
    <button id="end" type="button" onclick="Next()" class="btn cube cube-hover">
        <div class="bg-top">
        <div class="bg-inner"></div>
        </div>
        <div class="bg-right">
        <div class="bg-inner"></div>
        </div>
        <div class="bg_i">
        <div class="bg-inner"></div>
        </div>
        <div class="text">Continuar</div>
      </button>
    <footer>
        <center><p>Hecho con &#128147; por Alumnos de UPN &#9996;</p></center>
    </footer>
    <script src="~/js/Leccion7Pag5Script.js"></script>
</body>
</html>