@{Layout = null;}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educa</title>
    <link rel="stylesheet" href="~/css/Leccion7Pag4Style.css">
    <link rel="shortcut icon" href="~/Images/Home/LogoIconEduca.png">
</head>
<body>
    <div class="content" id="content">
        <div id="title" class="title">
            <div class="animation">La alimentación de los animales</div>
                   
        </div>
        <div id="success-box">
            <div class="dot"></div>
            <div class="dot two"></div>
            <div class="face">
              <div class="eye"></div>
              <div class="eye right2"></div>
              <div class="mouth happy"></div>
            </div>
            <div class="shadow scale"></div>
            <div class="message"><h1 class="alert">Listo ¿?</h1><p>Vamos a aprender.</div>
            <button class="button-box" onclick="Inicio()"><h1 class="green">Empezar</h1></button>
        </div>
        <div id="container" class="container">
            <div id="container-1" class="container-1">
                <div class="text-Cont">
                    <div class="card">
                        <center><p class="card-title">Herbívoros</p></center>
                        <div class="card-image">
                            <img src="~/Images/Leccion/Leccion7/Pag4/Img1.png" width="105%" height="220" alt="">
                        </div>
                        <p class="card-body">
                            Son animales que se alimentan principalmente de plantas. Les gusta comer hojas, tallos, frutas, raíces y flores.
                        </p>
                        
                    </div>
                </div>
                <div class="subtext-Cont">
                    <div class="card">
                        <center><p class="card-title">Carnívoros</p></center>
                        <div class="card-image">
                            <img src="~/Images/Leccion/Leccion7/Pag4/Img2.png" width="105%" height="220" alt="">
                        </div>
                        <p class="card-body">
                            Son animales que se alimentan principalmente de carne. Les gusta cazar y comer otros animales. Tienen dientes afilados y garras para atrapar y desgarrar a sus presas.
                        </p>
                        
                    </div>
                </div>
                <div class="img-Cont">
                    <div class="card">
                        <center><p class="card-title">Omnívoros</p></center>
                        <div class="card-image">
                            <img src="~/Images/Leccion/Leccion7/Pag4/Img3.png" width="105%" height="220" alt="">
                        </div>
                        
                        <p class="card-body">
                            Son animales que se alimentan tanto de plantas como de carne. Pueden comer una variedad de alimentos, incluyendo frutas, verduras, insectos y pequeños animales.
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <center><button id="end" type="button" onclick="Next()" class="btn cube cube-hover">
        <div class="bg-top">
        <div class="bg-inner"></div>
        </div>
        <div class="bg-right">
        <div class="bg-inner"></div>
        </div>
        <div class="bg_i">
        <div class="bg-inner"></div>
        </div>
        <div class="text">Continuar</div>
      </button></center>
    <footer>
        <center><p>Hecho con &#128147; por Alumnos de UPN &#9996;</p></center>
    </footer>
    <script src="~/js/Leccion7Pag4Script.js"></script>
</body>
</html>